
<meta charset="UTF-8">

{% assign default_title = page.name | remove: ".md" | capitalize %}
{% assign title = page.title | default: default_title %}
<title>{{ title }} | {{ site.title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }},{% endif %}{{ site.keywords }}">
{% if page.descr %}<meta name="description" content="{{ page.descr }}">
{% endif %}
<link rel="icon" type="image/png" href="/favicon.png">
<link rel="shortcut icon" type="image/png" href="/favicon.png">

<link rel="author" type="text/html" href="/docs/people">

<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/simple.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/menu.css">

{% if page.redirect %}<noscript>
    <meta http-equiv="Refresh" content="0; URL={{ page.redirect }}">
</noscript>{% endif %}
