
<meta charset="UTF-8">

<title>{{ page.title }} | {{ site.title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }},{% endif %}{{ site.keywords }}">
{% if page.descr %}<meta name="description" content="{{ page.descr }}">
{% endif %}
<link rel="icon" type="image/png" href="/favicon.png">
<link rel="shortcut icon" type="image/png" href="/favicon.png">

<link rel="author" type="text/html" href="/docs/people">

<link rel="stylesheet" href="/css/normalize.css" integrity="sha384-M86HUGbBFILBBZ9ykMAbT3nVb0+2C7yZlF8X2CiKNpDOQjKroMJqIeGZ/Le8N2Qp">
<link rel="stylesheet" href="/css/simple.min.css" integrity="sha384-RU21UwWLAoiCR1pUjxpW4YprCd2Pdvbi1kFN8QPxkI3gXdF5GrL+OH5GVg/Mvwa5">
<link rel="stylesheet" href="/css/style.css" integrity="sha384-rg2IW/gyI7H7S0xHgNOmmWXjk/Sewwymf9d2XHSR7u6HkdUbJm5YoT3Ypf9iN2jz">
<link rel="stylesheet" href="/css/menu.css" integrity="sha384-l7XKcfUjUvcab7WNmOCt3bhyLA7YFgbEAZcNC8zBiO59n83oQv+FZNRixZZy3eB1">

