<!DOCTYPE html>
<html lang="{{ site.lang }}">
    <head>{%- include head.html -%}</head>
    
    <body>

        <header>
            {%- include header.html -%}
        </header>

        <main>
            {{ content }}
            <div id="menu-container" class="menu-container">
                <hr>
                <div id="menu" class="menu">
                    {% capture sidebar %}{% include sidebar.md %}{% endcapture %}
                    {{ sidebar | markdownify }}
                </div>
            </div>
        </main>
        
        <footer>
            {%- include footer.html -%}
        </footer>

        {% if page.redirect %}<script>
            window.location = "{{ page.redirect }}";
        </script>{% endif %}

    </body>

</html>
